*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-image: url("./assets/images/bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
}

.card-text{
    margin-top: 35px;
}

.card-body{
  padding: 40px 20px;
}
